REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID:	CMP01
Description:	When the system admin enter the administration screen, they should be able to easily be able to find the link to the Add New Property page.
Type:	Non-functional
Rationale:	This will be one of the main features of the admin screen and so the users would want quick and easy access to the page.
Originator:	Caroline Sterling

REQ-ID:	CMP02
Description:	When the admin user submits the new properties details, the content added should be validated to make sure the data is in the correct format and not missing.
Type:	Functional
Rationale:	When adding the details, the agency and property owner do not want incorrect data added on the site or hazardous data saved to the database. This prevents the data being submitted.
Originator:	Caroline Sterling

REQ-ID:	SB03
Description: The product shall accept a valid postal address of a property.
Type: Functional
Rationale: To ensure the usage of correct postal addresses for the contract and for the bookings.
Originator: Ayisha Jayakodi - Agent
Comments: [Sergejs Bolsedvorskis]

REQ-ID:	SB04
Description: The product shall accept multiple photographs of a property.
Type: Functional
Rationale: To show different views of the property to potential holidaymakers increasing the likelihood of the bookings. 
Originator: Ayisha Jayakodi - Agent
Comments: [Sergejs Bolsedvorskis]
