REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID:	CMP01
Description:	When the system admin enter the administration screen, they should be able to easily be able to find the link to the Add New Property page.
Type:	Non-functional
Rationale:	This will be one of the main features of the admin screen and so the users would want quick and easy access to the page.
Originator:	Caroline Sterling

REQ-ID:	CMP02
Description:	When the admin user submits the new properties details, the content added should be validated to make sure the data is in the correct format and not missing.
Type:	Functional
Rationale:	When adding the details, the agency and property owner do not want incorrect data added on the site or hazardous data saved to the database. This prevents the data being submitted.
Originator:	Caroline Sterling

REQ-ID:	SB03
Description: The product shall accept a valid postal address of a property.
Type: Functional
Rationale: To ensure the usage of correct postal addresses for contract and bookings.
Originator: Ayisha Jayakodi - Agent
Comments: [Sergejs Bolsedvorskis]

REQ-ID:	SB04
Description: The product shall accept multiple photographs of a property.
Type: Functional
Rationale: To show different views of the property to the potential holidaymakers, increasing the likelihood of bookings.
Originator: Ayisha Jayakodi - Agent
Comments: [Sergejs Bolsedvorskis]


// REQ-ID:	PF05
// Description: The product shall store property photographs
// Type: Functional
// Rationale: Holidaymakers need to be able to view photographs of a property to make a reasonable assessment of suitability for booking
// Originator: Customer Service Agents(Ayisha Jayakodi)
// Comments: [Paul Farmer]

REQ-ID:	PF06
Description: The product shall store property particulars
Type: Functional
Rationale: Property Owners need to be able a-to assess the correctness of any information that may be accessed by other users of the product
Originator: Customer Service Agents(Ayisha Jayakodi)
Comments: [Paul Farmer]

REQ-ID: SW07
Description: The system shall be able to process payments by means of Credit Card
Type: Functional
Rationale: Prospective holiday makers need to be able pay for their bookings
Originator: Ayisha Jayakodi
Comments: [Steven Wood]

REQ-ID: SW08
Description: The system shall update the payment state for the properties booking diary
Type: Functional
Rationale: The booking diary for a property needs to be updated so that it can be known whether the booking has been paid for
Originator: Ayisha Jayakodi
Comments: [Steven Wood]

REQ-ID: JC09
Description: The system shall send confirmations by electronic means ie e-mail or SMS
Type: Functional
Rationale: The proposed system will need to maximise efficiency
Originator: Software Developer
Comments: [James Chalmers]

REQ-ID: JC10
Description: The system shall be usable by means of mobile devices, tablet PCs or Desktop PCs and Laptops
Type: Functional
Rationale: The proposed system will need to maximise the number of potential customers
Originator: Software Developer
Comments: [James Chalmers]

REQ-ID: MM11
Description: The product shall provide a downloadable format of property details
Type: Functional
Rationale: Holidaymakers need to be able to save off details of properties they are interested in to refer back to easily and save for their records
Originator: Ayisha Jayakodi
Comments: [Mike Moore]

REQ-ID: MM12
Description: The product shall provide the facility to browse appropriate properties to their requirements
Type: Functional
Rationale: Holidaymakers should be able to browse through the available properties which are relevant to their needs to allow them to find the property they want to book quickly, reducing drop out rates
Originator: Ayisha Jayakodi
Comments: [Mike Moore]

REQ-ID: JH13
Description: The product shall display Landbnb’s list of properties and services to visitors.
Type: Functional
Rationale: The primary purpose of the product is to advertise Landbnb's properties and services.
Originator: Carolie Sterling
Comments: [Jonathan Hill]

REQ-ID: JH14
Description: The product shall collect holidaymakers contact details.
Type: Functional
Rationale: To qualify holidaymakers as real people and provide a means for Landbnb to follow-up as required.
Originator: Ayisha Jayakodi
Comments: [Jonathan Hill]

EQ-ID: KF15
Description: The product shall record the number of rooms and services to the property
Type: Functional
Rationale: To be able to accurately record property details in order to to match holidaymakers needs to potential properties
Originator: Ayisha Jayakodi
Comments: [Kate Feliciello] 

EQ-ID: KF16
Description: The product shall be able to search for properties similar in type and location
Type: Functional
Rationale: To be able to compare rental prices of similar properties before setting a rental price with owner
Originator: Ayisha Jayakodi
Comments: [Kate Feliciello] 

REQ-ID: IS17
Description: The product shall allow the owner of a registered property to request a cleaning service during a known period of absense.
Type: Functional
Rationale: The property should still, where possible, be allowed to be rented out, even if the owner is away, to maximise the revenue stream for the property
Originator: Ayisha Jayakodi
Comments: [Ian Smith]

REQ-ID: IS18
Description: The product shall, at the start of the week, generate a schedule of properties to be visited by agents for that week
Type: Functional
Rationale: To ensure that any maintenance or cleaning that is required for properties due to be let is carried out before the next letting occurs.
Originator: Ayisha Jayakodi
Comments: [Ian Smith]

REQ-ID: SS19
Description: The product shall record the full postal address of a property that is being offered for rental
Type: Functional
Rationale: The postal address ensures that properties can be filtered by a holidaymakers location preferences
Originator: Ayisha Jayakodi
Comments: [Shaun Sheppard]

//REQ-ID: SS20
//Description: The product shall record the rental price of properties available for rent
//Type: Functional
//Rationale: The rental price will allow holidaymakers to determine if a property is within their budget
//Originator: Ayisha Jayakodi
//Comments: [Shaun Sheppard]

