REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID:	CMP01
Description:	When the system admins enter the admin screen, they should be able to easily be able to find the link to the Add New Property page.
Type:	11
Rationale:	This will be one of the main features of the admin screen and so the users would want quick and easy access to the page.
Originator:	Caroline Sterling

REQ-ID:	CMP02
Description:	When the admin user submits the new properties details, the content added should be validated to make sure the data is in the correct format and not missing.
Type:	11
Rationale:	When adding the details, the agency and property owner do not want incorrect data added on the site or hazardous data saved to the database. This prevents the data being submitted.
Originator:	Caroline Sterling
